/* Used the starter template provided by Paul Brokenshire on Canvas: Style_Guide_Template.zip*/

/*
  STYLE GUIDE STYLING 
*/
.styleguide{
  margin: 0;
}

.left-bar{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 12px;



  padding: 1em;

  width: 200px;

  border-right: solid #333 1px;
}
.content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 200px;
}
.body-styleguide{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-direction: row;
}

/* Font family referenced from week 2 lecture tutorial by Paul Brokenshire */

/*
Inspired by
Lecture
https://css-tricks.com/almanac/selectors/a/after-and-before/
https://www.w3schools.com/cssref/css3_pr_box-sizing.asp
*/

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.styleguide{
  margin: 1em;
}

.sitemap{
  width: 100%;
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SpartanMB-Regular.otf');
  src: url('../fonts/SpartanMB-Regular.otf?#iefix') format('embedded-opentype'), 
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/SpartanMB-SemiBold.otf');
  src: url('../fonts/SpartanMB-SemiBold.otf?#iefix') format('embedded-opentype'),
}
/*
Inspired by
https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
*/
body {
  font-family: "SpartanMB", sans-serif;
  font-size: 16px;
  min-height: 100%;

}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-top: 1em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

/*CSS styling for input text boxes referenced: https://www.w3schools.com/css/css_form.asp; */
input {
  font-family: "SpartanMB", sans-serif;
  color: #808080;
  font-size: 1em;
  padding: 0.25em 0.5em;
  width: 40em;
  border-color: #333;
  border-width: 1px;
}

/*input styling for checkbox in the filter section */
.checkbox {
  width:2em;
  padding:0em;
}

label {
  display: block;
  margin-top: 1em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

.link{
  text-decoration: none;
  color: black;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #333333;
  background-color: none;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */

}

.button-nav:hover, .button-nav:focus {
  color: #808080;
}

/*text decoration referenced: https://www.w3schools.com/cssref/pr_text_text-decoration.asp*/
/*styling for in-text link*/
.text-link {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #8CAA6E;
  background-color: none;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;

}

.text-link:hover, .text-link:focus {
  color: #B3CC9A;
}

/*styling for SUBMIT button*/
.button-submit {
  display: inline-block;
  padding: .5em 2em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */

}

.button-submit:hover, .button-submit:focus {
  background-color: #B3CC9A;
}

.banner-para {
  padding-bottom: 2em;
}

/* 
  TEXT ELEMENTS -------------------
*/

/*Styling for header 1 in stylesheet NOT for P01 page*/
h1 {
  padding: none;
  color: black;
  background-color: none;
  font-weight: bold;
  font-size: 2.6em;
  text-decoration: none;
}

h2 {
  padding: none;
  color: #8CAA6E;
  background-color: none;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

h3 {
  padding: none;
  color: black;
  background-color: none;
  font-weight: normal;
  font-size: 1.7em;
  text-decoration: none;
  margin-bottom: 1rem;
}

p {
  padding: none;
  color: black;
  background-color: none;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
}
.bold{
  font-weight: bold;
}

.code-style {
  display:block;
  width:auto;
}

.title{
  text-decoration: none;
}

.nav-main {
  display: inline-block;
  padding: 0.5em 1.75em;
  color: #333333;
  background-color: none;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */
}

.nav-main:hover, .nav-main:focus {
  color: #808080;
}

.image-style {
  display: block;
  padding-bottom: 1em;
}

.product-listed {
    display: inline;
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 7em;
}

.list-num {
  display: block;
  padding-left: 2em;
}

.list-bullet {
  display: block;
  padding-left: 2em;
}

/* 
  -------------------------- COMBINED ELEMENTS -----------------------------
*/

/*
  --------- Styling for Product Item ----------
*/
.product-item{
  position: relative;
  width: 25%;
  min-width: 200px;
  padding: 1em;

  font-size: 1rem;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-between;
}

.product-item-img{
  width: 100%;
  position: relative;
  z-index: auto;
}

.product-item-banner{
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.product-item p{
  padding-top: .5em;
}

.product-name{
  text-align: left;
  display: inline;
}

.product-price{
  text-align: right;
  display: inline;
}

@media(max-width:400px){
  .product-item{
    width: 50%;
    min-width: 150px;
    margin: .5em 0;
    padding: 0;
  }
  .product-item-banner{
    top: 0;
    right: 0;
  }
}

.grid-img {
  display: block;
  padding-bottom: 2em;
}

/*
  ------------------------------- PAGE LAYOUT -------------------------------
*/

/*
   
*/

/*
  ----- Styling for Promo Banner -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.banner-promo{
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #8CAA6E;
}
.banner-promo p{
  color: #fff;
  font-size: .7rem;
  padding: .5em;
  margin: 0;
}

/*
  ----- Styling for Header -----

Inspired by:
Lectures
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css3_shadows.asp
*/

.header{
  width: 100%;
  padding: 1em;

  display: -webkit-box;
  display: -moz-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 15px rgb(193, 193, 193);

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.header .title{
  padding: 0;
  margin: 0;
  color: black;
}

.search{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: fit-content;

}

.search-bar{
  border: hidden;
  background-color: rgb(235, 235, 235);
  color: #333;
  font-size: 1rem;
  outline: none;
  max-width: 10em;
}

.search-icon{
  background-color: rgb(235, 235, 235);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;

  padding: 0.5em .5em;
}

.search-icon:hover{
  background-color: rgb(222, 222, 222);
}

.icon{
  width: 24px;
  height: auto;
  margin: .5em .5em;
  cursor: pointer;
}



.header .hamburger-icon{
  display: none;
  visibility: hidden;
}

.navigation{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width:500px) {
  .navigation{
    flex-direction: column;
  }
  .navigation .button-nav{
    font-size: 1.2rem;
  }
  .header .title{
    font-size: 2.4rem;
  }
  .header{
    position: relative;
  }

}

@media (max-width:850px){
  .header{
    flex-direction: column;
  }
  .header{
    position: relative;
  }
}
/*
  ----- Styling for Banner -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css_background.asp
https://alligator.io/css/background-position-property/
*/

.banner{
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2em;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-image: url("../img/sketch_book.jpg");
  background-position: bottom;

}

.banner h1, .banner p {
  color: #fff;
  text-shadow: 0 0 5px black;
}

/* ------ Styling for Filter -------  */

.filter {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1em;

  flex-direction: row;

  justify-content: left;
  align-items: left;

  color: black;
  background-color: darkgray;
}

.filter-h2 {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em .75em;

  flex-direction: column;

  color: white;
  justify-content: left;
  align-items: left;
  background-color: grey;
}

.filter-h3 {
  padding-bottom: 1em;
}

.filter-category {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.filter-category-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 3em;
}

.filter-category-colour {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 3em;
}

.filter-element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

/*
  ----- Styling for Product page -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.product-page-img{
  width: 50%;
  height: auto;
  min-width: 250px;
  max-width: 500px;
  padding: 1em;
}

.product-info{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;

  flex-direction: column;
  align-items: left;
  justify-content: center;

  margin: 0 auto;
  padding: 1em 1em;
  width: 20em;
}



@media(max-width:750px){
  .product{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .product-page-img{
    padding: 1em;
    width: 100%;
    
    margin: 0;
    min-width: none;
  }
  .product-info{
    padding: 1em;
    margin: 0;
    width: 100%;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-info p{
    width: 100%;
  }
  .product-info .button-submit{
    width: 100%;
    text-align: center;
  }


}

/*
  ----- Styling for Offer -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.offer{
  width: 100%;
  max-width: 1000px;
  margin: 5em auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0 3em;

  justify-content: space-around;
}

.offer-img{
  width: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: left;
}
.offer img{
  width: 30%;

  min-width: 384px;
}

.offer-info{
  width: auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  text-align: left;

  padding: 0 1em;
  justify-content: center;
  align-items: flex-start;
}



@media (max-width: 400px){
  .offer img{
    width: 100%;
    padding: 0 .5em;
    min-width: 300px;
  }
}

/*
  ----- Styling for New Items -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.container{

  width: 100%;
  max-width: 1000px;
  margin: 1em auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.container .container-title{
  width: 100%;
  padding-left: 1em;
}

/*text-align learned from https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
.product-title{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

.active{
  background-color: rgb(240, 240, 240);
  
}
.unactive:hover{
  color: black;
}

.product-navigation{
  margin: 0 auto;

}

.container .about-title{
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

.container .search-title{
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 80%;
  color: grey;
}

@media (max-width:400px){
  .container-title{
    text-align: center;
  }
  .container .product-item{
    width: 40%;
  }
}

.container .about-img {
  max-width: 100%;
}

.container .about-text {
  padding-top: 5em;
  max-width: 700px;
  margin: 0 auto;
}

.container .about-text2 {
  padding-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 5em;
}

/*
  ----- Styling for Footer -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.footer{
  width: 100%;
  height: 150px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 1em 1em;

  height: auto;
  
  bottom: 0;
  left: 0;
  right: 0;

  justify-content: space-between;
  align-items: center;

  background-color: #8CAA6E;
}

.facebook-icon, .instagram-icon, .twitter-icon{
  color: #fff;
  font-size: 2rem;
}

.instagram-icon{
  padding: 0 1rem;
}
.copyright{
  font-size: .75rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 0;
}

.footer p, .social-icons{
  color: #fff;
}

.footer .title{
  color: #fff;
  margin: 0;
}

.social-icons{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

@media(max-width:750px){
  .footer{
    flex-direction: column;
    padding: 1em .5em;
    height: auto;
  }
  .copyright{
    font-size: .5rem;
    order: 3;
    padding: 0
  }
}

/*
------Styling for Cart ------------
*/

.cart {

  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;

  justify-content: left;
  align-items: left;

  color: black;
  padding-bottom: 5em;
}


.cart-h2 {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em .75em;

  flex-direction: column;

  color: black;
  justify-content: left;
  align-items: left;
  padding-top: 3em;
  font-size: 1.5em;
}

.cart-img {
  width: 20%;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em .75em;

  flex-direction: column;

  justify-content: left;
  align-items: left;
  padding-bottom: 2em;
}

.product-details-cart{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-top: 1em;
  padding-right: 20em;

}

.order-summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

  background-color: rgb(204,204,204);
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;

}

.remove-button {
  padding-top: 5em;
}

.order-h3 {
  font-size: 1.5em;
}

.estimate-total {
  font-size: 1.2em;
  padding-top: 2em;
}

.checkout-button {
  width: 100%;
  display: inline-block;
  padding: .5em 2em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  padding-left:4em; 

  color: white;
}

.checkout-button:hover, .checkout-button:focus {
  background-color: #B3CC9A;
}

/* 
-------Styling for Contact Info ----------
*/

.contact-info {
  align-items: center;
}

.contact-h2 {
  padding-top: 2em;
  padding-bottom: 1em;
}

.form-name {
  padding-top: 2em;
}

.message-input {
  padding-bottom: 3em;
}

.contact-button {
  width: 30%;
  display: inline-block;
  padding: .5em 2em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  padding-left:4em; 

  color: white;
}

.contact-button:hover, .contact-button:focus {
  background-color: #B3CC9A;
}

.break-text {
  color: white;
}

/*
  ----- Styling for Reviews -----
  Inspired by:
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.review{
  margin-top: 3em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  align-items: stretch;
  justify-content: space-between;
}
.review h1{
  width: 100%;
  text-align: center;
}

.written-reviews{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  align-items: left;
  justify-content: center;

  margin: 0 auto;
  padding: 1em 1em;
  flex: 0 1 auto;
}
.written-review{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  width: 18rem;

  margin-bottom: 1em;
}

.written-review p{
  width: 100%;
}

.star-icons{
  color: black;
  
}

.write-review{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row-reverse;

  justify-content: space-between;

  width: 50%;
  padding: 1em;
}
.write-review h3{
  width: 100%
}
.write-review .button-submit{
  font-size: .75rem;
  margin-top: 1em;

}
.review-name{
  flex: 1 1 50%;
  margin-right: 1em;
}
.review-name input{
  width: 100%;
}
.review-rating{
  flex: 0 1 auto;
}
.review-rating label{
  display: flex;
}
.review-rating .star-icons-outline{
  font-size: 1.5rem;
}
.review-comment{
  width: 100%;
}
.review-comment input{
  width: 100%;
}

@media(max-width:750px){
  .review{
    flex-direction: column;
    align-items: center;
  }

  .written-reviews{
    width: 100%;
    padding: 1em;
    margin: 0;
    max-width: 400px;
  }
  .written-review{
    width: 100%;
  }
  .write-review{
    width: 100%;
    padding:1em;
    max-width: 400px;
  }

  .review h3{
    text-align: center;
  }

}