/* Used the starter template provided by Paul Brokenshire on Canvas: Style_Guide_Template.zip*/

/*
  STYLE GUIDE STYLING 
*/


.left-bar{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 12px;

  padding: 1em;

  width: 5vw;

  background-color: #8CAA6E;

  transition: 0.5s;
}

.left-bar:hover{
  width: 11rem;
}

.left-bar:hover .style-nav{
  display: inline;
}

.arrow{
  transition: 0.5s;
}
/*
Inspired by
https://www.w3schools.com/cssref/css3_pr_transform.asp
*/
.left-bar:hover .arrow{
  transform: rotate(-180deg);
}

.style-nav{
  display: none;
  list-style: none;
  text-decoration: none;

}

.style-nav a{
  text-decoration: none;
  color: #fff;
  transition: .5s;
}
.style-nav li{
    padding-bottom: .2rem;
}
.style-nav a:hover{
  text-decoration: underline;
  color: #B3CC9A;
}

.content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 93vw;
  margin-left: auto;
}
.body-styleguide{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-direction: row;
}

.swatch-img {
  margin-top: 2em;
}

/* Font family referenced from week 2 lecture tutorial by Paul Brokenshire */

/*
Inspired by
Lecture
https://css-tricks.com/almanac/selectors/a/after-and-before/
https://www.w3schools.com/cssref/css3_pr_box-sizing.asp
*/

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sitemap{
  width: 100%;
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Spartan-Regular.ttf');
  src: url('../fonts/Spartan-Regular.ttf?#iefix') format('embedded-opentype'); 
}

@font-face {
  font-family: 'SpartanMB';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Spartan-SemiBold.ttf');
  src: url('../fonts/Spartan-SemiBold.ttf?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Nunito-Regular.ttf?#iefix') format('embedded-opentype'); 
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {

  font-family: 'Nunito';
  font-weight: bold;
  src: url('../fonts/Nunito-Bold.ttf');
  src: url('../fonts/Nunito-Bold.ttf?#iefix') format('embedded-opentype');
}
/*
Inspired by
https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
*/
body {
  font-family: "Nunito", "Spartan", sans-serif;
  font-size: 16px;
  line-height: 2;
  min-height: 80vh;

}

section{
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-top: 1em;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

/*CSS styling for input text boxes referenced: https://www.w3schools.com/css/css_form.asp; */
input {
  font-family: "SpartanMB", sans-serif;
  color: #808080;
  font-size: 1em;
  padding: 0.25em 0.5em;
  width: 40em;
  border-color: #333;
  border-width: 1px;
}

label {
  display: block;
  margin-top: 1em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/
/*
   Styling for Select drop down-menu
*/
.drop-down-select{
  padding-bottom: 1em;
  height: auto;
}

.link{
  text-decoration: none;
  color: black;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #333333;
  background-color: transparent;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */

}

.button-nav:hover, .button-nav:focus {
  color: #808080;
}

/*text decoration referenced: https://www.w3schools.com/cssref/pr_text_text-decoration.asp*/
/*styling for in-text link*/
.text-link {
  display: inline-block;
  padding: 0.5em 0.0em;
  color: #8CAA6E;
  background-color: transparent;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;

}

.text-link:hover, .text-link:focus {
  color: #B3CC9A;
}

/*styling for SUBMIT button*/
.button-submit {
  display: inline-block;
  padding: .5em 2em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */

}

.button-submit:hover, .button-submit:focus {
  background-color: #B3CC9A;
}

.banner-para {
  padding-bottom: 2em;
}

/* 
  TEXT ELEMENTS -------------------
*/

/*Styling for header 1 in stylesheet NOT for P01 page*/
h1 {
  color: black;
  font-weight: bold;
  font-size: 2.6rem;
  text-decoration: none;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

h3 {
  color: black;
  font-weight: normal;
  font-size: 1.7rem;
  text-decoration: none;
  margin-bottom: 1rem;
}

p {
  color: black;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
}
.bold{
  font-weight: bold;
}

.code-style {
  display:inline-block;
  font-size: .8rem;
}

.title{
  text-decoration: none;
}

.nav-main {
  display: inline-block;
  padding: 0.5em 1.75em;
  color: #333333;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
 /* -webkit-transition: background-color 0.5s ease-out; */
/*  transition: background-color 0.5s ease-out; */
}

.nav-main:hover, .nav-main:focus {
  color: #808080;
}

.image-style {
  display: block;
  padding-bottom: 1em;
}

.product-listed {
    display: inline;
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 7em;
}

.list-num {
  display: block;
  padding-left: 2em;
}

.list-bullet {
  display: block;
  padding-left: 2em;
}

/* 
  -------------------------- COMBINED ELEMENTS -----------------------------
*/

/*
  --------- Styling for Product Item ----------
*/
.product-item{
  position: relative;
  width: 25%;
  min-width: 200px;
  padding: 1em;

  font-size: 1rem;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-between;
}

.product-item:hover{
  background-color: rgb(248, 250, 246);
  transition: .3s;
}
.product-item-img{
  width: 100%;
  position: relative;
  z-index: auto;
}

.product-item-banner{
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.product-item p{
  padding-top: .5em;
}

.product-name{
  text-align: left;
  display: block;

}

.product-price{
  font-size: 0.8rem;
  text-align: left;
  display: block;
}

.red-sale{
  color: crimson;
}
.old-price{
  text-decoration: line-through;
}

@media(max-width:400px){
  .product-item{
    width: 50%;
    min-width: 150px;
    margin: .5em 0;
    padding: 0;
  }
  .product-item-banner{
    top: 0;
    right: 0;
  }
}

.grid-img {
  display: block;
  padding-bottom: 2em;
}

/*
  ------------------------------- PAGE LAYOUT -------------------------------
*/

/*
   
*/

/*
  ----- Styling for Promo Banner -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.banner-promo{
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #8CAA6E;
  z-index: 10;
}
.banner-promo a{
  color: #fff;
  font-size: .7rem;
  padding: .5em;
  margin: 0;
  text-decoration: none;
}

.banner-promo a:hover{
  color: #B3CC9A;
}

/*
  ----- Styling for Header -----

Inspired by:
Lectures
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css3_shadows.asp
https://css-tricks.com/almanac/properties/b/box-shadow/
https://css-tricks.com/change-color-of-svg-on-hover/
*/

.header{
  width: 100%;
  padding: 1em;

  display: -webkit-box;
  display: -moz-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -5px rgb(193, 193, 193);
  -moz-box-shadow: 0 5px 5px -5px rgb(193, 193, 193);
  box-shadow: 0 5px 5px -5px rgb(193, 193, 193);

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.header .title{
  padding: 0;
  margin: 0 auto 0 0;
  color: black;

}

.header .title:hover{
  color: #808080;
}

.search{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: fit-content(100%);
  margin: .5em;

}

.search-bar{
  border: hidden;
  background-color: rgb(235, 235, 235);
  color: #333;
  font-size: 1rem;
  outline: none;
  max-width: 10em;
}

.search-icon{
  background-color: rgb(235, 235, 235);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;

  padding: 0.5em .5em;
}

.search-icon:hover{
  background-color: rgb(222, 222, 222);
}

.cart-icon{
  color: black;
  width: 24px;
  height: auto;
  cursor: pointer;
}
.navigation svg:hover{
  fill: #808080;
}



.header .hamburger-icon{
  display: none;
  visibility: hidden;
}

.navigation{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}


@media (max-width:500px) {
  .navigation{
    flex-direction: column;
  }
  .navigation .button-nav{
    font-size: 1.2rem;
  }
  .header .title{
    font-size: 2.4rem;
  }
  .header{
    position: relative;
  }

}

@media (max-width:850px){
  .header{
    flex-direction: column;
    position: relative;
  }
  .header .title{
    margin: 0 auto;
  }
}
/*
  ----- Styling for Banner -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://www.w3schools.com/css/css_background.asp
https://alligator.io/css/background-position-property/
*/

.banner{
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2em;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-image: url("../img/sketch_book.jpg");
  background-position: bottom;

}

.banner h1, .banner p {
  color: #fff;
  text-shadow: 0 0 5px black;
  line-height: 1.5;
}

@media (max-width: 600px){
  .banner h1{
    text-align: center;
  }
}

/* ------ Styling for Filter -------  */

.filter {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1em;

  flex-direction: row;

  justify-content: left;
  align-items: flex-start;

  color: black;
  background-color: darkgray;
}

.filter-h2 {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em .75em;

  flex-direction: column;

  color: white;
  justify-content: left;
  align-items: flex-start;
  background-color: grey;
}

.filter-h3 {
  padding-bottom: 1em;
}

.filter-category {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.filter-category-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding-left: 3em;
}

.filter-category-colour {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding-left: 3em;
}

.filter-element {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

/*
  ----- Styling for Product page -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.product-page-img{
  width: 50%;
  height: auto;
  min-width: 250px;
  max-width: 500px;
  padding: 1em;
}

.product-info{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 0 auto;
  padding: 1em 1em;
  width: 20em;
}

.product-info h2{
  margin-bottom: .5em;
}
.product-info p{
  margin-bottom: 1em;
}



@media(max-width:750px){
  .product{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .product-page-img{
    padding: 1em;
    width: 100%;
    
    margin: 0;
    min-width: 0;
  }
  .product-info{
    padding: 1em;
    margin: 0;
    width: 100%;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-info p{
    width: 100%;
  }
  .product-info .button-submit{
    width: 100%;
    text-align: center;
  }


}

/*
  ----- Styling for Offer -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.offer{
  width: 100%;
  max-width: 1000px;
  margin: 5em auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-around;
}

.offer-img{
  width: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: left;
}
.offer img{
  margin: 0 auto;
  min-width: 384px;
}

.offer-info{
  width: auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  text-align: left;

  padding: 0 1em;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}



@media (max-width: 500px){
  .offer{
    flex-direction: column;
  }
  .offer img{
    width: 100%;
    
    min-width: 250px;
  }

  .offer h1{
    font-size: 2rem;
  }
}

/*
  ----- Styling for New Items -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.container{

  width: 100%;
  max-width: 1000px;
  margin: 1em auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.container .container-title{
  width: 100%;
  padding-left: 1em;
}

/*text-align learned from https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
.product-title{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

.active{
  background-color: rgb(240, 240, 240);
  
}
.unactive:hover{
  color: black;
}

.product-navigation{
  margin: 0 auto;

}

.container .about-title{
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

.search-title{
  color: grey;
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width:400px){
  .container-title{
    text-align: center;
  }
  .container .product-item{
    width: 40%;
  }
}

.container .about-img {
  max-width: 100%;
  min-width: 50%;
  height: auto;

  margin-left: 2em;
  margin-right: 2em;
}

.container .about-text {
  padding-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
}

.container .about-text-2 {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
}

.container .about-h3 {
  margin-top: 3em;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}


.values-text {
  margin-bottom: 3em;
  color: black;
  font-weight: normal;
  font-size: 1.3em;
  white-space: pre-line;
}

/*
  ----- Styling for Footer -----

Inspired by:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.footer{
  width: 100%;
  height: 150px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 1em 1em;

  height: auto;
  
  bottom: 0;
  left: 0;
  right: 0;

  justify-content: space-between;
  align-items: flex-start;

  background-color: #8CAA6E;
}

.footer a:hover{
  color: #B3CC9A;
} 

.facebook-icon, .instagram-icon, .twitter-icon{
  color: #fff;
  font-size: 2rem;
}

.instagram-icon{
  padding: 0 1rem;
}
.copyright{
  font-size: .75rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 0;
}

.footer p, .social-icons{
  color: #fff;
}

.footer .title{
  color: #fff;
  margin: 0;
}

.footer-nav{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
}

.footer-nav a {
  padding: 1em 0 0 0;
}

.social-icons{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

@media(max-width:750px){
  .footer{
    flex-direction: column;
    padding: 1em .5em;
    height: auto;
    align-items: center;
  }
  .social-icons{
    margin-top: 1rem;
  }
  .copyright{
    font-size: .5rem;
    order: 3;
    padding: 0
  }
}

/*
------Styling for Cart ------------
*/

.cart {

  /*
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0 3em;

  justify-content: space-around;
  */

  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;

  color: black;
  padding-bottom: 5em;
}

.cart-removed{
  min-height: 80vh;
}

.cart-h2 {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5em .75em;

  flex-direction: column;

  color: black;
  justify-content: left;
  align-items: flex-start;
  padding-top: 2em;
  font-size: 1.5em;

  border-bottom: 1px solid #333;
}

.cart-img {
  max-width: 16em;
  max-height: 16em;
  min-width: 10em;
  height: auto;
  margin-top: 3em;
  margin-left: 3em;
}

.product-details-cart{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 3em;
  margin-right: 3em;
  margin-left:3em;
}

.order-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left; 
  margin-left: 3em;

}

.order-summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;

  background-color: rgb(230, 230, 230);
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;

  margin-top: 3em;

}

.remove-button {
  padding-top: 5em;
  color: #8CAA6E;
  border-radius: 1em;
  text-decoration: underline;
  font-weight: bold;
}

.remove-button:hover{
  color: #B3CC9A;
}

.order-h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.estimate-total {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
}

.est-tax {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #333;
}

.est-shipping {
  padding-bottom: 0.5em;
}

.subtotal {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.checkout-button {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  
  padding: .5em 2em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  justify-content: right;
  color: white;
  text-align: center;
  margin: 1em auto;
}

.checkout-button:hover, .checkout-button:focus {
  background-color: #B3CC9A;
}

/* 
-------Styling for Contact Info ----------
*/

.container-contact{

  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  display: inline-block;
  text-align: center;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: center;

}

/* White-space learned from: https://www.designcise.com/web/tutorial/how-to-add-a-line-break-to-an-html-element-using-css-only */

.contact-h2 {
  white-space: pre-line;
  margin: 1em auto;
  justify-content: center;
  display: block;

}

.p-contact {
  white-space: pre-line;
  display: block;
  padding-bottom: 3em;
}

.name-input {
  width: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.email-input {
  width: 25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.message-input {
  width: 25em;
  padding-bottom: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

}

.contact-button {
  width: 20%;
  display: inline-block;
  padding: .5em 0em;
  color: white;
  background-color: #8CAA6E;
  border-radius: 0em;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;

  white-space: pre-line;

  color: white; 
  margin-bottom: 3em;
}

.contact-button:hover, .contact-button:focus {
  background-color: #B3CC9A;
}

  /* unique to contact_message.html: */

  .thank-you-msg {
    background-color: grey;
    color: white;
    width: 25em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    white-space: pre-line;
  }


/*
  ----- Styling for Reviews -----
  Inspired by:
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.review{
  margin-top: 3em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: space-between;
}
.review h1{
  width: 100%;
  text-align: center;
}

.written-reviews{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  margin: 0 auto;
  padding: 1em 1em;
  flex: 0 1 auto;
}
.written-review{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  width: 18rem;

  margin-bottom: 1em;
}

.written-review p{
  width: 100%;
}

.star-icons{
  color: black;
  
}

.write-review{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row-reverse;

  justify-content: space-between;

  width: 50%;
  padding: 1em;
}

/*
color: gold;
*/

#star-icons-outline .iconify:hover{
  color: gold;
} 

.write-review h3{
  width: 100%
}
.write-review .button-submit{
  font-size: .75rem;
  margin-top: 1em;

}
#review-name{
  flex: 1 1 50%;
  margin-right: 1em;
}
#review-name input{
  width: 100%;
}
.review-rating{
  flex: 0 1 auto;
}
.review-rating label{
  display: flex;
}
.review-rating #star-icons-outline{
  font-size: 1.5rem;
}
#review-comment{
  width: 100%;
}
#review-comment input{
  width: 100%;
}

@media(max-width:750px){
  .review{
    flex-direction: column;
    align-items: center;
  }

  .written-reviews{
    width: 100%;
    padding: 1em;
    margin: 0;
    max-width: 400px;
  }
  .written-review{
    width: 100%;
  }
  .write-review{
    width: 100%;
    padding:1em;
    max-width: 400px;
  }

  .review h3{
    text-align: center;
  }

}

/*
  ----- Styling for Checkout -----
  Inspired by:
  https://www.w3schools.com/tags/att_input_type_radio.asp
*/

.checkout{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 700px;
  padding: 1em;
  margin: 0 auto;
}
.checkout input{
  width: 100%
}

.checkout .button-submit, .checkout .text-link{
  margin: 1em 0 .5em;
  text-align: center;
}

.checkout .text-link{
  margin:0;
  text-align: center;
}
.checkout h3{
  margin: 1em 0 .5em;
}

.checkout h1{
  margin: 0;
}

.radio {
  width: auto;
  padding: 0;
}

.radio-label {
  display: inline;
}

.thank-you{
  text-align: center;
  min-height: 100vh;
}

/* Styling for citations */

.citations-head {
 font-weight: bold;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.bullet-citations {
  margin-left: 2em;
}

.citations-main-h1{
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.citations-nav {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.3em;
}

.citations-h2{
  margin-left: .6em;
  margin-top: 1em;
}

.website-tab {
  margin-right: 1em;
}

.styleguide-tab {
  margin-right: 1em;
}

